            @media print {
                .fa-snowboarding,
                .fa-music,
                .fa-hiking,
                .fa-playstation,
                .fa-linux,
                .fa-laptop-code {
                    font-size: 2.5rem;
                }
                p {
                    font-size: 0.7rem;
                }
                body {
                    font-size: 0.6rem;
                    height: 66%;
                    width: 100%;
                }
                .banner {
                    max-width: 25%;
                }
                .banner img {
                    display: none;
                }
                #contenucv h1 {
                    font-size: 2.5rem;
                    margin-bottom: 1px;
                }
                #contenucv h3 {
                    font-size: 1.33rem;
                    margin-top: 1.5px;
                    margin-bottom: initial;
                    padding-bottom: initial;
                }
                .dip {
                    margin-bottom: initial;
                }
                .job {
                    margin: initial;
                }

            }