            @media print {
                .fa-snowboarding,
                .fa-music,
                .fa-hiking,
                .fa-playstation,
                .fa-linux {
                    font-size: 2.5rem;
                }
                p {
                    font-size: 0.8rem;
                }
                body {
                    height: 95vh;
                    width: 100vh;
                }
                .banner {
                    max-width: 350px;
                }
                .banner img {
                    display: none;
                }
                #contenucv h1 {
                    font-size: 2.5rem;
                    margin-bottom: 1px;
                }
                #contenucv h3 {
                    font-size: 1.33rem;
                    margin-top: 1.5px;
                    margin-bottom: initial;
                    padding-bottom: initial;
                }
                .dip {
                    margin-bottom: initial;
                }
                .job {
                    margin: initial;
                }
                /* qr {
                    visibility: visible;
                } */
            }