            @media print {
                body {
                    height: 100vh;
                    width: 100vh;
                }
                qr {
                    visibility: visible;
                }
            }