    /* fonts  fontawesome (https://fontawesome.com) great thanks to them.*/
    
    .fa-snowboarding,
    .fa-music,
    .fa-hiking,
    .fa-playstation,
    .fa-linux,
    .fa-laptop-code {
        font-size: 2.3rem;
        text-shadow: -7px 5px 59px #6a88c9;
    }
    
    .fa-university,
    .fa-briefcase,
    .fa-calendar-alt {
        color: #68954b;
        font-size: 1.8em;
        margin-right: 24%;
    }
    
    .fa-dot-circle {
        color: #68954b;
        margin-right: 9px;
    }
    
    .fa-circle-notch {
        color: #68954b;
        font-size: 0.65em;
        margin-right: 9px;
    }
    
    .fa-jedi-order {
        margin-left: 20px;
        font-size: 1.3em;
        text-shadow: 5px -3px 25px #f0dfbc;
    }
    /* General configuration */
    
    body {
        background-color: #f0dfbc;
        color: #0d2d49;
        margin: auto;
    }
    
    h5 {
        text-decoration: underline #f0dfbc;
        margin-top: 33px;
        text-align: center;
    }
    
    li {
        list-style-type: none;
        padding-top: 10px;
    }
    
    a {
        color: #f0dfbc;
        text-decoration: bold;
    }
    
    a:hover {
        margin-left: 5px;
        font-style: oblique;
        text-decoration: bold;
        color: #4d28bb;
        text-shadow: -5px -5px 3px 9px rgb(121, 93, 93);
    }
    
    a:focus {
        color: #794913;
    }
    
    a:visited {
        color: #f0dfbc;
        font-weight: bold;
        font-size: 2rem;
    }
    /* Curriculum Body */
    
    .cv {
        display: flex;
        flex-direction: row;
    }
    
    .qr img {
        width: 133px;
        height: 133px;
    }
    
    .banner img {
        margin: 20px;
        align-self: center;
        height: 177px;
        width: 177px;
    }
    
    .banner h3 {
        font-size: 1.5em;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 10%;
        border: 10px #68954b;
        border-radius: 25px;
        background-color: #f0dfbc;
        color: #68954b;
        text-align: left;
    }
    
    .banner {
        max-width: 25%;
        display: flex;
        flex-direction: column;
        background-color: #68954b;
    }
    
    .contact li {
        font-size: 1.7rem;
        text-align: center;
    }
    
    .contact h4 {
        text-align: center;
        color: #f0dfbc;
    }
    
    .myself {
        flex-grow: 1;
        padding: 11px;
        text-align: justify;
        color: #f0dfbc;
    }
    
    .moi {
        color: #f0dfbc;
        text-align: center;
        color: #68954b;
        border: 10px solid #68954b;
        border-radius: 25px;
        background-color: #daccb0;
        padding: 10px;
    }
    
    .qr {
        visibility: hidden;
    }
    
    .qrc {
        display: flex;
        flex-direction: row;
    }
    
    .hobbies {
        font-size: 1.3rem;
        color: #f0dfbc;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin: 5%;
    }
    
    #style {
        text-decoration: underline #68954b;
    }
    
    .entete {
        text-align: left;
        margin-left: 20%;
    }
    
    #prenom {
        color: #68954b;
    }
    
    #contenucv h1 {
        font-size: 4rem;
        margin-bottom: 1px;
    }
    
    #contenucv h3 {
        font-size: 2rem;
        margin-top: 1.5px;
        margin-bottom: 50px;
        padding-bottom: 10px;
    }
    
    #contenucv h2 {
        width: 95%;
    }
    
    #contenucv {
        width: 70%;
        margin-left: 3.3%;
        display: flex;
        flex-direction: column;
    }
    
    .titre {
        margin-bottom: 3.3px;
        border-bottom: 3.3px solid;
        border-color: #68954b;
    }
    
    .date {
        font-size: 0.99rem;
        width: 25%;
    }
    
    .job {
        font-size: 0.9rem;
        margin: 1.3rem;
        margin-left: none;
        font-weight: bold;
    }
    
    .dip {
        font-size: 1rem;
        width: 88.5%;
        margin-bottom: 15px;
        margin-left: 70px;
        list-style-type: none;
    }
    
    .xp {
        margin-bottom: 5px;
    }
    
    .xp li {
        display: flex;
        flex-direction: row;
    }
    
    .xp p {
        margin: 0.4rem;
    }
    
    .title {
        text-decoration: underline #68954b;
    }
    
    .know {
        width: 100px;
    }
    
    .menu-grid {
        font-size: 0.9rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-right: 7%;
        margin-bottom: 10px;
    }
    
    .container h5 {
        margin: 0;
    }
    
    .container h4 {
        Text-align: center;
        text-decoration: underline #68954b;
    }
    
    .known {
        color: #68954b;
        font-weight: bold;
        font-size: 0.8rem;
    }