    /* fonts  fontawesome (https://fontawesome.com) great thanks to them.*/
    
    .fa-snowboarding,
    .fa-music,
    .fa-hiking,
    .fa-playstation,
    .fa-linux,
    .fa-laptop-code {
        font-size: 3.3rem;
        text-shadow: -7px 5px 59px #68954b;
    }
    
    .fa-graduation-cap,
    .fa-wallet,
    .fa-check-double {
        color: #285379;
        font-size: 1.8em;
        margin-right: 24%;
    }
    
    .fa-dot-circle {
        color: #68954b;
        margin-right: 9px;
    }
    
    .fa-circle-notch {
        color: #68954b;
        font-size: 0.65em;
        margin-right: 9px;
    }
    
    .fa-jedi-order {
        margin-right: 20px;
        margin-left: 50%;
        font-size: 2rem;
        text-shadow: 5px -3px 25px #f0dfbc;
    }
    /* General configuration */
    
    body {
        background-color: #f0dfbc;
        color: #285379;
        margin: auto;
    }
    
    h5 {
        text-decoration: underline #f0dfbc;
        margin-top: 33px;
        text-align: center;
    }
    
    li {
        list-style-type: none;
        padding-top: 10px;
    }
    
    .title {
        color: white;
        background-color: #68954b;
    }
    
    a {
        color: #f0dfbc;
        text-decoration: bold;
    }
    
    a:hover {
        margin-left: 5px;
        font-style: oblique;
        text-decoration: bold;
        color: #c9c3db;
        text-shadow: -15px -5px 3px 9px #bd7878;
    }
    
    a:focus {
        color: #794913;
    }
    
    a:visited {
        font-weight: bold;
        font-size: 2.5rem;
    }
    /* Curriculum Body */
    
    .cv {
        display: flex;
        flex-direction: row;
    }
    
    .qr img {
        width: 133px;
        height: 133px;
    }
    
    .banner img {
        margin: 0;
        width: 100%;
        height: 100%;
    }
    
    .banner h3 {
        font-size: 1.5em;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 3%;
        border: 10px #7ba75d;
        border-radius: 25px;
        background-color: #f0dfbc;
        color: #68954b;
        text-align: left;
    }
    
    .banner {
        max-width: 20%;
        display: flex;
        flex-direction: column;
        background-color: #68954b;
    }
    
    .contact li {
        font-size: 1.7rem;
        text-align: center;
    }
    
    .contact h4 {
        text-align: center;
        color: #f0dfbc;
    }
    
    .myself {
        flex-grow: 1;
        padding: 11px;
        text-align: justify;
        color: #f0dfbc;
    }
    
    .moi {
        margin: 5px;
        text-align: center;
        color: #68954b;
        border: 10px solid #68954b;
        border-radius: 25px;
        background-color: #daccb0;
        padding: 10px;
    }
    
    .qr {
        visibility: hidden;
    }
    
    .hobbies {
        font-size: 1.3rem;
        color: #f0dfbc;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin: 5%;
    }
    
    #style {
        text-decoration: underline #68954b;
    }
    
    .entete {
        text-align: center;
    }
    
    #prenom {
        color: #68954b;
    }
    
    #contenucv h1 {
        font-size: 4.5rem;
    }
    
    #contenucv h3 {
        font-size: 3rem;
        margin-top: 1.5px;
        margin-bottom: 50px;
        padding-bottom: 10px;
    }
    
    #contenucv h2 {
        width: 95%;
    }
    
    #contenucv {
        margin-right: 2.5%;
        margin-left: 5%;
        width: 75%;
        display: flex;
        flex-direction: column;
    }
    
    .titre {
        margin-bottom: 3.3px;
        border-bottom: 3.3px solid;
        border-color: #68954b;
    }
    
    .date {
        font-size: 0.99rem;
        width: 25%;
    }
    
    .job {
        font-size: 0.9rem;
        margin-left: none;
        font-weight: bold;
    }
    
    .dip {
        font-size: 1rem;
        width: 88.5%;
        margin-bottom: 15px;
        margin-left: 70px;
        list-style-type: none;
    }
    
    .xp {
        margin-bottom: 5px;
    }
    
    .xp li {
        display: flex;
        flex-direction: row;
    }
    
    .title {
        text-decoration: underline #68954b;
    }
    
    .know {
        width: 100px;
    }
    
    .menu-grid {
        font-size: 0.9rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-right: 7%;
        margin-bottom: 10px;
    }
    
    .container h5 {
        margin: 0;
    }
    
    .container h4 {
        Text-align: center;
        text-decoration: underline #68954b;
    }
    
    .known {
        color: #68954b;
        font-weight: bold;
        font-size: 0.8rem;
    }